p {
color: brown;
width: 300px;
}

h3 { 
    font-weight: bold;
    color: black;
}

li {
    border: 1px solid black;
    padding: 5px;
    margin: 30px;
}

#Bella_Rhodes { 
    color: brown;
    font-size: 23px;
    border: 1px solid brown;
    font-family: 'Itim', cursive;
}